extends ../layouts/default

block content


  .row
    .col-md-4
      form(action='/shout', method='post')
        .form-group
          label Name
          input(type='text', name='name', class='form-control')
        .form-group
          label Shout
          input(type='text', name='shout', class='form-control')
        button.btn.btn-default Shout
    .col-md-8
      h2 Shouts!
      ul
        each shout in shouts
          li #{shout.upper()} - #{shout.shout}
