extends ../layouts/default

block content
  .row
    .col-md-8

      if errors
        ul
        each error in errors
          li= error.message

      div
        h1
          .fa.fa-sign-in
          |  Join
        form(action='join', method='post')
          .form-group
            label Email
            input(type='text', class='form-control', name='email', value='#{user.email}')
          .form-group
            label Full name
            input(type='text', class='form-control', name='fullName', value='#{user.fullName}')
          .form-group
            label Username
            input(type='text', class='form-control', name='username', value='#{user.username}')
          .form-group
            label Password
            input(type='password', class='form-control', name='password')
          button.btn.btn-default Login
      hr
      p Already rule? #[a(href='login') Login].
      p Or go #[a(href='/') home].
