extends ../layouts/default

block content
  .row
    .col-md-8
      div
        h1
          .fa.fa-sign-in
          |  Login
        form(method='POST')
          .form-group
            label Email
            input.form-control(type='text', name='email')
          .form-group
            label Password
            input.form-control(type='password', name='password')
          button.btn.btn-default Login
      hr
      p Need an account? #[a(href='join') Join the ranks here].
      p Forgot password? #[a(href='/forgot') Click here].
