extends ../layouts/default

block content
  form(method='POST')
    legend Reset Password
    .form-group
      label(for='password') New Password
      input.form-control(type='password', name='password', value='', autofocus=true)
    .form-group
      button.btn.btn-primary(type='submit') Update Password
