extends ../layouts/default

block content


  .row
    .col-md-4
      p We got some users over HAR.
    .col-md-8
      ul
        each user in users
          li #[a(href='/users/#{user.id}') #{user.username}] - #{user.email}
