extends ../layouts/default

block content


  .row
    .col-md-4
      h1 Profile page
      ul
        li #{user.id}
        li #{user.username}
        li #{user.fullName}
        li #{user.email}
        li #[img(src='#{avatar}')]
    .col-md-8
      p Other stuff here.
