extends ../layouts/default

block content


  .row
    .col-md-4
      include _menu.jade
    .col-md-8
      h1 Account
      form(action='settings', method='post')
        .form-group
          label Username
          input(type='text', name='username', class='form-control', value='#{user.username}')
        .form-group
          label Email
          input(type='text', name='email', class='form-control', value='#{user.email}')
        button.btn.btn-default Submit
