extends ../layouts/default

block content


  .row
    .col-md-4
      include _menu.jade
    .col-md-8
      h1 Profile
      h2 Avatar
      hr
      form(action='/upload', method='POST', enctype='multipart/form-data')
        .form-group
            label Select image
            input.form-control(type='file', name='fileUploaded')
            button.btn.btn-default Upload
      h2 Other
      form(action='settings', method='post')
        .form-group
          label Full name
          input(type='text', name='fullName', class='form-control', value='#{user.fullName}')
        .form-group
          label Location
          input(type='text', name='location', class='form-control', value='#{user.location}')
        .form-group
          label Birthday
          input(type='text', name='birthday', class='form-control')
        .form-group
          label Bio
          textarea(name='bio', class='form-control')
        button.btn.btn-default Submit
