extends ../layouts/default

block content
  .row
    .col-md-8
      h1 We have a header.
      p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
      a(href='/flash').btn.btn-default Flash
    .col-md-4
      div.red
        a(href='/auth/facebook').btn.btn-facebook #[i.zocial-facebook] Facebook
        a(href='/auth/google').btn.btn-google #[i.zocial-googleplus] Google+
  hr
  form(action='/upload', method='POST', enctype='multipart/form-data')
        .form-group
            label Select image
            input.form-control(type='file', name='fileUploaded')
            button.btn.btn-default Upload
