facebook-color = #3b5998
google-color = #DD4B39

.btn-social
  background-image: none
  color: white
  width: 100%
  text-transform: uppercase
  display: block
  margin-bottom: 6px
  padding: 8px
  -webkit-box-shadow: 0px 1px 0px #ddd
  -moz-box-shadow: 0px 1px 0px #ddd
  box-shadow: 0px 1px 0px #ddd
  font-weight: 600
  font-family: Arial
  font-size: 1.53rem

i
  padding-right: 10px

.btn-facebook
  @extend .btn-social
  background: facebook-color
  border: 1px solid lighten(facebook-color, 10%)

.btn-facebook:hover
  background: lighten(facebook-color, 10%)
  color: white

.btn-google
  @extend .btn-social
  background-image: none
  background: google-color
  border: 1px solid lighten(google-color, 20%)

.btn-google:hover
  background: lighten(google-color, 10%)
  color: white

.btn-basecamp
  background-image: none
  background: #fff
  border: 1px solid #ccc
  -webkit-box-shadow: 0px 1px 0px #ddd
  -moz-box-shadow: 0px 1px 0px #ddd
  box-shadow: 0px 1px 0px #ddd

.btn-basecamp:hover
  background: #fcfcfc
