doctype html
html

  head
    title= title
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Corben')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Nobile')
    link(rel='stylesheet', href='/dist/main.css')

  body
    nav.navbar.navbar-default
      .container-fluid
        .nav.navbar-nav
          li #[a(href='/') Home]
          li #[a(href='/shouts') Shouts]
          li #[a(href='/users') Users]
          li #[a(href='/faq') FAQ]
        .nav.navbar-nav.navbar-right
          li #[a(href='/user/username') Me]
          li #[a(href='/settings/profile') Edit profile]
          li #[a(href='/settings/account') Settings]
          if(req.isAuthenticated())
            li #[a(href='/logout') Logout]
          else
            li #[a(href='/login') Login]
            li #[a(href='/join') Join]


    if message && message != 0
      .message
        span= message

    .container
      block content
